asn1crypto==0.24.0
backcall==0.2.0
#-e git+https://git.racf.bnl.gov/gitea/Instrumentation/bnl_daq_pyutils.git@cef4cbec79b4077d17c77969b97fe89bf60cdcf1#egg=bnl_daq_pyutils
cryptography==2.1.4
decorator==5.1.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycrypto==2.6.1
Pygments==2.10.0
PyGObject==3.26.1
python-apt==1.6.5+ubuntu0.7
pyxdg==0.25
PyYAML==3.12
SecretStorage==2.3.1
six==1.11.0
traitlets==4.3.3
unattended-upgrades==0.1
wcwidth==0.2.5
