iter*.txt
tight_setup_hold_pins.txt
*.bit
*.ltx
*.jou
*.log
vivado/
.Xil/
.Xauthority
.Xilinx/
.bash_history
.bashrc
.build-docker
.cache/
.digilent_dvctbl.txt
.flexlmrc
.java/
.local/
.oracle_jre_usage/
.sudo_as_admin_successful
.viminfo
bits/
src/
usage_statistics_webtalk.html
usage_statistics_webtalk.xml

