asn1crypto==0.24.0
bnl_daq_pyutils
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
PyGObject==3.26.1
python-apt==1.6.5+ubuntu0.7
pyxdg==0.25
PyYAML==3.12
SecretStorage==2.3.1
six==1.11.0
unattended-upgrades==0.1
